<h1 mat-dialog-title>
    <mat-icon svgIcon="edit"></mat-icon>
    {{ (question.Prompt.length>35)? (question.Prompt | slice:0:80)+'...':(question.Prompt) }}
</h1>
<div mat-dialog-content>
    <form>
        <br>
        <mat-form-field class="full-width">
            <input matInput tabindex="-1" placeholder="Prompt" [(ngModel)]="question.Prompt" name="question.Prompt">
        </mat-form-field>
        <mat-form-field *ngIf='question.qType === "multChoice"' class="full-width">
            <input matInput tabindex="-1" placeholder="Choices" value="{{question.Choices}}">
        </mat-form-field>
        <table style="width: 100%" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="half-width">
                        <input tabindex="-1" matInput placeholder="Solution" value="{{question.Solution}}">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="half-width">
                        <mat-select tabindex="-1" placeholder="Question Type" [(value)]="question.qType">
                            <mat-option value="writInput">
                                Written Input
                            </mat-option>
                            <mat-option value="multChoice">
                                Multiple Choice
                            </mat-option>
                            <mat-option value="picInput">
                                Picture Input
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <mat-form-field class="full-width">
            <input matInput tabindex="-1" placeholder="Branch" value="{{question.branch}}">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput tabindex="-1" placeholder="Image Link" value="{{question.iLink}}">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput tabindex="-1" placeholder="Sound Link" value="{{question.sLink}}">
        </mat-form-field>
        <br>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" tabindex="-1" [mat-dialog-close]="question">
        <font>Confirm</font>
    </button>
    <button mat-raised-button tabindex="-1" [mat-dialog-close]="true">
        <font>Cancel</font>
    </button>
</div>