<!-- Top navigation bar -->
<mat-toolbar color="primary" class="app-toolbar mat-elevation-z2">
    <mat-toolbar-row class="mat-toolbar-row">
		<!-- Menu -->
        <button class="hamburger mat-button" mat-button="" layout-align="start center" (click)="!sidenav.toggle()">
            <mat-icon class="mat-icon-button" role="img" svgicon="menu" aria-hidden="true">
                <svg xmlns="http://www.w3.org/2000/svg" focusable="false" viewBox="0 0 24 24">
                    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
                </svg>
            </mat-icon>
        </button>
		
        <a class="nav-link home" href="/">
            <img alt="Home" title="Home" src="assets/EPL_Logo.png">
        </a>
		
        <span></span>
		<span class="spacer"></span>
		
		<!-- Logo -->
        <button mat-raised-button mat-ripple matRippleSpeedFactor="1" class="container" color="primary" (click)="openCreateDialog()">
            <mat-icon svgIcon="add"></mat-icon>
            New Library
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<!-- Side naviagation bar -->
<mat-sidenav-container position="end" class="sidenav-container" overflow="hidden">
    <mat-sidenav #sidenav mode="side" opened="true" fixedInViewport="fixed" fixedTopGap="64">
        <mat-nav-list>
            <mat-list-item routerLink="/dashboard/home">
                Dashboard
            </mat-list-item>
            <!-- <mat-list-item routerLink="/dashboard/questions">
                Questions
            </mat-list-item> -->
        </mat-nav-list>
		
        <mat-nav-list class="bottom">
            <mat-list-item (click)="onLogout()">
                <a class="unselectable">
                    Sign Out
                </a>
            </mat-list-item>
        </mat-nav-list>
		
    </mat-sidenav>
	
    <router-outlet></router-outlet>
</mat-sidenav-container>