<!-- Top navigation bar -->
<mat-sidenav-container class="sidenav-container" overflow="scroll">
    <mat-toolbar color="white" class="app-toolbar">
        <mat-toolbar-row class="mat-toolbar-row">
            <span></span>
            <span class="spacer"></span>
            <!-- Logo -->
            <button mat-raised-button mat-ripple matRippleSpeedFactor="1" class="container" color="primary" (click)="openCreateDialog()">
                <mat-icon svgIcon="add"></mat-icon>
                NEW LIBRARY
            </button>
        </mat-toolbar-row>
    </mat-toolbar>


    <!-- Side navigation bar -->

    <!-- <mat-sidenav-container position="end" class="sidenav-container" overflow="hidden"> -->
    <mat-sidenav #sidenav mode="side" opened="true" fixedTopGap="64">
        <a class="nav-link home" routerLink="/dashboard/home" style="text-decoration:none">
            <img src="assets/EPL_Logo2.png">
        </a>
        <br>
        <br>
        <mat-nav-list>
            <mat-list-item routerLink="/dashboard/home">
                <mat-icon mat-list-icon color="primary" svgIcon="dashboard"></mat-icon>
                <div style="margin-left:25px">Dashboard</div>
            </mat-list-item>
            <!-- <mat-list-item routerLink="/dashboard/questions">
                Questions
            </mat-list-item> -->
        </mat-nav-list>

        <mat-nav-list class="bottom">
            <mat-list-item (click)="onLogout()">
                <a class="unselectable" style="margin-left:84px">
                    <font>Sign Out</font>
                </a>
            </mat-list-item>
        </mat-nav-list>

    </mat-sidenav>
    <router-outlet></router-outlet>
</mat-sidenav-container>

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Passion+One:700" rel="stylesheet">