/* Literally don't know why this works
** https://stackoverflow.com/questions/46666381/unable-to-set-the-height-of-a-angular-material-sidenav-to-100
*/

/*
::ng-deep .mat-sidenav-container{
    height:100vh !important;
} */

.app-toolbar {
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    z-index: 1000; 
}

.mat-elevation-z2 {
    position: sticky;
    z-index: 2;
}

.bottom {
    position: absolute;
    width: 100%;
    bottom: 70px;
}
  
mat-sidenav {
    width: 200px;
    border-right: 1px solid #BDBDBD;
}

.mat-sidenav-container {
    min-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    flex: 1;
    overflow: hidden;
}

.mat-drawer-content {
    overflow: hidden;
}

.mat-sidenav {
    min-width: 250px;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.mat-toolbar {
    flex: 0;
}

.hamburger.mat-button {
    height: 100%;
    margin: 0;
    padding: 0;
}

.spacer {
    flex: 1 1 auto;
}

.mat-toolbar-row {
    padding: 0 0;
}

.mat-toolbar-row a {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    text-transform: uppercase;
}

.nav-link.home img {
    position: relative;
    margin-top: -24px;
    margin-right: 20px;
    top: 12px;
    height: 40px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}