<mat-toolbar color="primary">
    <mat-toolbar-row class="mat-toolbar-row">
        <button class="hamburger mat-button" mat-button="" layout-align="start center" (click)="!sidenav.toggle()">
            <mat-icon class="mat-icon-button" role="img" svgicon="menu" aria-hidden="true">
                <svg xmlns="http://www.w3.org/2000/svg" focusable="false" viewBox="0 0 24 24">
                    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
                </svg>
            </mat-icon>
        </button>
        <a class="nav-link home" href="/">
            <img alt="Home" title="Home" src="assets/EPL_Logo.png">
        </a>
        <span></span>
        <span class="spacer"></span>
        <a class="unselectable" (click)="onLogout()">Logout</a>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="push">
        <mat-nav-list>
            <mat-list-item routerLink="/dashboard/home">
                Dashboard
            </mat-list-item>
            <mat-list-item routerLink="/dashboard/questions">
                Questions
            </mat-list-item>
            <mat-list-item routerLink="/dashboard/analytics">
                Analytics
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <app-dashboard-home></app-dashboard-home>
    <app-dashboard-questions></app-dashboard-questions>
    <app-dashboard-analytics></app-dashboard-analytics>
</mat-sidenav-container>

<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="../../assets/js/vendor/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>