<!-- <h1 mat-dialog-title>
    <mat-icon svgIcon="edit"></mat-icon>
    {{library.branch}}
</h1>
<div mat-dialog-content>
    <form>
        <mat-form-field style="width: 100%">
            <input matInput placeholder="Name" value="{{library.branch}}" [formControl]="branch" required>
            <mat-error *ngIf="branch.dirty || branch.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field style="width: 100%">
            <input matInput placeholder="Image Link" value="{{library.iLink}}">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" tabindex="-1" (click)="submit()">
        <font>Confirm</font>
    </button>
    <button mat-raised-button tabindex="-1" (click)="cancel()">
        <font>Cancel</font>
    </button>
</div> -->