<mat-card class="main">
    <mat-tab-group #tabGroup class="tab-group" (selectedTabChange)="tabChanged($event)" *ngIf="zones.length !== 0">
        <mat-tab *ngFor="let zone of zones" label="{{zone.zone}}">
            <mat-card-content>
                <form>
                    <br>
                    <table style="width: 100%" cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field style="width: 100%">
                                    <input matInput placeholder="Zone" [(ngModel)]="zone.zone" name="zone.zone">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field style="width: 100%">
                                    <input matInput placeholder="Category" value="{{zone.category}}">
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                    <mat-form-field class="half-width">
                        <input matInput placeholder="Estimote Beacon ID" value="{{zone.beaconID}}">
                    </mat-form-field>

                    <table style="width: 100%" cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field class="full-width">
                                    <input matInput placeholder="Branch" value="{{zone.branch}}" disabled>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="full-width">
                                    <input matInput maxLength="7" placeholder="Color" value="{{zone.color}}">
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                </form>
            </mat-card-content>
        </mat-tab>
    </mat-tab-group>
    <br>
</mat-card>

<mat-toolbar color="B39DDB">
    <mat-toolbar-row>
        <span>Questions: </span>
        <span class="spacer"></span>
        <button mat-raised-button mat-ripple matRippleSpeedFactor="1" class="container" color="primary" (click)="openCreateDialog()">
            <mat-icon svgIcon="add">
            </mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-progress-bar mode="indeterminate" *ngIf="!loaded && !empty"></mat-progress-bar>
<mat-progress-bar mode="buffer" *ngIf="empty"></mat-progress-bar>
<mat-card *ngIf="empty" class="main">
    <div layout-align>No Questions Available</div>
</mat-card>
<div class="table-container mat-elevation-z8" *ngIf="loaded">
    <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="Prompt">
            <mat-header-cell *matHeaderCellDef> Prompt </mat-header-cell>
            <mat-cell *matCellDef="let question" class="unselectable">
                {{ (question.Prompt.length>35)? (question.Prompt | slice:0:60)+'...':(question.Prompt) }}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Choices">
            <mat-header-cell *matHeaderCellDef> Choices </mat-header-cell>
            <mat-cell *matCellDef="let question" class="unselectable"> {{question.Choices}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Solution">
            <mat-header-cell *matHeaderCellDef> Solution </mat-header-cell>
            <mat-cell *matCellDef="let question" class="unselectable"> {{question.Solution}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Type">
            <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
            <mat-cell *matCellDef="let question" class="unselectable">
                {{ (question.qType==='writInput') ? 'Written Input' : (question.qType==='multChoice') ? 'Multiple Choice' : (question.qType==='picInput')
                ? 'Picture Input': '' }}
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openEditQuestionDialog(row)" (mouseenter)="highlight(row)"
            (mouseleave)="normallight(row)" [ngClass]="{'highlight': selectedRowIndex == row.id}"></mat-row>
    </mat-table>
</div>