.mat-card {
    margin: 24px;
    height: 100%;
}

.panel-title-color {
    color: #263238;
}

.container {
    width: 2px;
    border-radius: 100px;
    margin-right: 10px;
}

.main {
    position: relative;
    overflow: hidden;
    margin-top: 80px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.spacer {
    flex: 1 1 auto;
}

.basic-form {
    padding: 0;
}

.basic-form .mat-card-content {
    padding: 16px;
}

.half-width {
    width: 50%;
}

.full-width {
    width: 100%;
}

.tab-group {
    overflow: hidden;
    width: 100%;
}

.table-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 300px;
    margin-bottom: 50px;
}
  
.mat-table {
    overflow: auto;
    max-height: 500px;
}

/* Column max widths */
.cdk-column-Prompt {
    max-width: 550px;
    justify-content: flex-end;
}
  
.cdk-column-Choices {
    max-width: 400px;
}
  
.cdk-column-Solution {
    max-width: 200px;
}
  
.cdk-column-Type {
    max-width: 200px;
}

.highlight{
    background: #ECEFF1; /* green */
}