<!-->Original code accessed and retireved on Nov 3 2017 from https://codepen.io/ewiener/pen/GqgBqN
<-->

    <body>

        	<!-- Dashboard interior -->
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Add a Question</h1>
            <div class="container">
    
                <form (ngSubmit)="onSubmit()" #addQuestionForm="ngForm">
                    <div class="form-group">
                        <label for="branch">Library Branch</label>
                        <select class="form-control" id="branch" required [(ngModel)]="question.branch" name="branch">
                            <option *ngFor="let branch of branches" [value]="branch">{{branch}}</option>
                        </select>
                    </div>
    
                    <div class="form-group">
                        <label for="qType">Question type</label>
                        <select class="form-control" id="qType" required [(ngModel)]="question.qType" name="qType">
                            <option *ngFor="let qType of qTypes" [value]="qType">{{qType}}</option>
                        </select>
                    </div>
    
                    <div class="form-group">
                        <label for="zone">Zone</label>
                        <select class="form-control" id="zone" required [(ngModel)]="question.zone" name="zone">
                            <option *ngFor="let zone of zones" [value]="zone">{{zone}}</option>
                        </select>
                    </div>
    
                    <div class="form-group">
                        <label for="prompt">Question prompt</label>
                        <input type="text" class="form-control" id="prompt" required [(ngModel)]="question.prompt" name="prompt">
                    </div>
    
                    <div [hidden]="(question.qType != 'multChoice')" class="form-group">
                        <label for="choice">Enter Multiple choices (separated by commas)</label>
                        <input type="text" class="form-control" id="choice" required [disabled]="(question.qType != 'multChoice')" [(ngModel)]="question.Choices"
                         name="Choices">
                    </div>
    
                    <div class="form-group">
                        <label for="solution">Solution (type a choice as the solution for multChoice questions)</label>
                        <input type="text" class="form-control" id="solution" required [(ngModel)]="question.solution" name="solution">
                    </div>
    
                    <div class="form-group">
                        <label for="iLink">Enter image URL that the question will display</label>
                        <input type="text" class="form-control" id="iLink" required [(ngModel)]="question.iLink" name="iLink" required pattern="https?://.+"
                         #iLink="ngModel">
                    </div>
                    <div [hidden]="iLink.valid || iLink.pristine" class="alert alert-danger">
                        Valid image URL required
                    </div>
    
                    <div class="form-group">
                        <label for="sLink">Enter sound URL that the question will play (optional)</label>
                        <input type="text" class="form-control" id="sLink" [(ngModel)]="question.sLink" name="sLink" pattern="https?://.+" #sLink="ngModel">
    
                        <div [hidden]="sLink.valid || sLink.pristine" class="alert alert-danger">
                            URL not valid. Provide a valid sound URL or leave blank.
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success" [disabled]="!addQuestionForm.form.valid">Submit</button>
    
                </form>
            </div>
    
    
            <h3>Picture and sound Preview: </h3>
            <div>
                <img src={{question.iLink}} style="width:300px">
            </div>
    
            <div>
                <button class="btn" (click)="playAudio()" [disabled]="(question.sLink == '')">Play sound</button>
            </div>
            </div>

        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="../../dist/js/bootstrap.min.js"></script>
        <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
        <script src="../../assets/js/vendor/holder.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


    </body>