<mat-card class="main">
	<mat-card-header>
		<img mat-card-image src="assets/EPL_Logo.png">
	</mat-card-header>	
	
	<mat-card-content>
		<form #Login="ngForm" (ngSubmit)="onLogin(Login)" novalidate>
				<mat-form-field class="full-width">
					<input matInput id="email" placeholder="Email" required [(ngModel)]="user.email" name="email" #email="ngModel">
					<!--<mat-error *ngIf="emailFormControl.hasError('email')">
						Please enter a valid email address
					</mat-error>-->
					<mat-error *ngIf="emailFormControl.hasError('required')">
						Email is <strong>required</strong>
					</mat-error>
				</mat-form-field>

				<mat-form-field class="full-width">
					<input matInput id="password" placeholder="Password" required [(ngModel)]="user.password" name="password" #password="ngModel">
					<mat-error *ngIf="emailFormControl.hasError('required')">
						Password is <strong>required</strong>
					</mat-error>
				</mat-form-field>

				<mat-card-actions>
					<div class="center">
						<button mat-raised-button color="primary" type="submit" class="btn btn-default">Login</button>
						<button mat-raised-button color="accent">Register</button>
					</div>
				</mat-card-actions>

        </form>
  </mat-card-content>
</mat-card>