<!-->Original code accessed and retireved on Nov 3 2017 from https://codepen.io/ewiener/pen/GqgBqN
<-->

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li class="active">
                            <a>Dashboard</a>
                        </li>
                        <li>
                            <a routerLink="/dashboard/questions">Questions</a>
                        </li>
                        <li>
                            <a routerLink="/dashboard/analytics">Analytics</a>
                        </li>
                    </ul>
                </div>
                <!-->
                <div class="main">
                    <div class="panel-body">
                        <div class="row">
                            <div class="text-center col-xs-4">
                                <div class="card">
                                    <img src={{branch.iLink}} at="Library photo unavailable" style="width:270px; height:220px;">
                                    <h3>
                                        {{branch.name}}
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <-->
            </div>
            <div class="main">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>{{library.name}}</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src={{library.iLink}} alt="Branch photo">
                    <!-->
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <-->
                        <mat-card-content>
                            <p>
                                Comment section placeholder
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>LIKE</button>
                            <button mat-button>SHARE</button>
                        </mat-card-actions>
                </mat-card>
            </div>
        </div>

        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="../../dist/js/bootstrap.min.js"></script>
        <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
        <script src="../../assets/js/vendor/holder.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


    </body>